.clear {
    clear: both;
}
/* Dialog form confirm css*/
.dialog-form-confirm {
    display: none;
    position: absolute;
    width: 390px;
    height: 240px;
    background-color: #0973b9;
    /*margin-left: 380px;
    margin-top: 160px;*/
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    right: 0;
    bottom: 0;
}

    .dialog-form-confirm .dialog-confirm-title {
        height: 25px;
        padding: 5px;
        display: flex;
    }


    /*dialog confirm content css*/
    .dialog-form-confirm .dialog-confirm-content {
        position: absolute;
        background-color: #fff;
        top: 30px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        padding-right: 0px;
    }

.dialog-form-confirm .dialog-confirm-title .dialog-confirm-title-text {
    color: #ffffff;
}

.dialog-form-confirm .dialog-confirm-title .dialog-confirm-title-icon {
    margin-left: 125px;
}

    .dialog-form .dialog-title .dialog-title-icon:hover {
        cursor: pointer;
    }



/*button dialog confirm*/

.dialog-form-confirm .dialog-confirm-content .btn-confirm-del {
    position: absolute;
    left: 70px;
    top: 80px;
    height: 40px;
    width: 80px;
    background-color: #3c9a44 ;
    border: none;
    color: #fff;
    border-radius: 2px;
}

        .dialog-form-confirm .dialog-confirm-content .btn-confirm-notdel {
            position: absolute;
            left: 230px;
            top: 80px;
            height: 40px;
            width: 80px;
            background-color: #ca2d2d;
            border: none;
            color: #fff;
            border-radius: 2px;
        }

.dialog-form-confirm .dialog-confirm-content button:hover{
    cursor: pointer;
}
