/* Dialog title css*/

.dialog-form .dialog-title .dialog-title-text {
    color: #ffffff;
}

.dialog-form .dialog-title .dialog-title-icon {
    margin-left: 530px;
}

    .dialog-form .dialog-title .dialog-title-icon:hover {
        cursor: pointer;
    }

/*customer id*/
.dialog-content .customer-id {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .customer-id .customer-id-text {
        margin-right: 20px;
    }

    .dialog-content .customer-id .customer-id-input {
        width: 146px;
    }

/*customer name*/

.dialog-content .customer-name {
    display: flex;
    float: left;
    margin: 5px;
}

    .dialog-content .customer-name .customer-name-text {
        margin-right: 15px;
    }

    .dialog-content .customer-name .customer-name-input {
        width: 157px;
    }
/*member id*/

.dialog-content .member-id {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .member-id .member-id-text {
        margin-right: 25px;
    }

    .dialog-content .member-id .member-id-input {
        width: 145px;
    }

/*customer group*/

.dialog-content .customer-group {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .customer-group .customer-group-text {
        margin-right: 25px;
    }

    .dialog-content .customer-group .customer-group-content {
        border: 1px solid #c6c2c2;
        background-color: #fff;
        width: 149px;
        height: 20px;
    }

        .dialog-content .customer-group .customer-group-content .selected-customer-group {
            width: 125px;
            border: none;
            float: left;
            height: 100%;
        }

        .dialog-content .customer-group .customer-group-content .add-customer-group {
            display: block;
            background-repeat: no-repeat;
            background-image: url('../../content/images/IconSprite.png');
            width: 16px;
            height: 16px;
            background-position: 0 -2479px;
            margin-left: 3px;
            float: left;
        }
/*phone number*/

.dialog-content .phone {
    margin: 5px;
    display: flex;
}

    .dialog-content .phone .phone-text {
        margin-right: 47px;
    }

    .dialog-content .phone .phone-input {
        width: 145px;
    }
/*birth*/

.dialog-content .birth {
    margin: 5px;
    display: flex;
}

    .dialog-content .birth .birth-text {
        margin-right: 80px;
    }

    .dialog-content .birth .birth-input {
        width: 148px;
    }

/*manage name*/

.dialog-content .manage-name {
    margin: 5px;
    display: flex;
}

    .dialog-content .manage-name .manage-name-text {
        margin-right: 65px;
    }

    .dialog-content .manage-name .manage-name-input {
        width: 465px;
    }

/* tax id*/

.dialog-content .tax-id {
    margin: 5px;
    float: left;
    display: flex;
}

    .dialog-content .tax-id .tax-id-text {
        margin-right: 71px;
    }

    .dialog-content .tax-id .tax-id-input {
        width: 146px;
    }

/*Email*/

.dialog-content .email {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .email .email-text {
        margin-right: 104px;
    }

    .dialog-content .email .email-input {
        width: 157px;
    }
/*address*/

.dialog-content .address {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .address .address-text {
        margin-right: 98px;
    }

    .dialog-content .address .address-input {
        width: 465px;
    }
/*note*/

.dialog-content .note {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .note .note-text {
        margin-right: 95px;
    }

    .dialog-content .note .note-input {
        width: 463px;
        height: 40px;
        border: 1px solid #c6c2c2;
    }
