p{
    margin: 0;
}
/* Dialog title css*/

.dialog-form .dialog-title .dialog-title-text {
    color: #ffffff;
}

.dialog-form .dialog-title .dialog-title-icon {
    margin-left: 545px;
}

    .dialog-form .dialog-title .dialog-title-icon:hover {
        cursor: pointer;
    }

/*employee id*/
.dialog-content .employee-id {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .employee-id .employee-id-text {
        margin-right: 30px;
    }

    .dialog-content .employee-id .employee-id-input {
        width: 146px;
    }

/*employee name*/

.dialog-content .employee-name {
    display: flex;
    float: left;
    margin: 5px;
    margin-left: 15px;
}

    .dialog-content .employee-name .employee-name-text {
        margin-right: 14px;
    }

    .dialog-content .employee-name .employee-name-input {
        width: 157px;
    }

/*employee group*/

.dialog-content .employee-group {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .employee-group .employee-group-text {
        margin-right: 25px;
    }

    .dialog-content .employee-group .employee-group-content {
        border: 1px solid #c6c2c2;
        background-color: #fff;
        width: 149px;
        height: 20px;
        margin-left: 10px;
    }

        .dialog-content .employee-group .employee-group-content .selected-employee-group {
            width: 125px;
            border: none;
            float: left;
            height: 100%;
        }

        .dialog-content .employee-group .employee-group-content .add-employee-group {
            display: block;
            background-repeat: no-repeat;
            background-image: url('../../content/images/IconSprite.png');
            width: 16px;
            height: 16px;
            background-position: 0 -2479px;
            margin-left: 3px;
            float: left;
        }
/*phone number*/

.dialog-content .phone {
    margin: 5px;
    display: flex;
}

    .dialog-content .phone .phone-text {
        margin-right: 47px;
    }

    .dialog-content .phone .phone-input {
        width: 145px;
    }
/*birth*/

.dialog-content .birth {
    margin: 5px;
    display: flex;
}

    .dialog-content .birth .birth-text {
        margin-right: 80px;
    }

    .dialog-content .birth .birth-input {
        width: 150px;
        border: 1px solid #c6c2c2;
        height: 22px;
        font-size: 14px;
    }

/*gender css*/

.dialog-content .gender {
    margin: 5px;
    display: flex;
}

    .dialog-content .gender .gender-text {
        margin-right: 90px;
    }

    .dialog-content .gender .gender-employee-selected {
        width: 153px;
        border: 1px solid #c6c2c2;
        height: 22px;
        font-size: 14px;
    }


/*Email*/

.dialog-content .email {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .email .email-text {
        margin-right: 110px;
    }

    .dialog-content .email .email-input {
        width: 146px;
    }
/*Position css*/

.dialog-content .position-name {
    margin: 5px;
    display: flex;
    float: left;
    margin-left: 15px;
}

    .dialog-content .position-name .position-name-text {
        margin-right: 102px;
    }

    .dialog-content .position-name .position-name-input {
        width: 157px;
    }

/*Department css*/

.dialog-content .department-name {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .department-name .department-name-text {
        margin-right: 75px;
    }

    .dialog-content .department-name .department-name-selected {
        width: 154px;
        height: 22px;
        border: 1px solid #c6c2c2;
        font-size: 14px;
    }
/*WorkStatus css*/

.dialog-content .work-status {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .work-status .work-status-text {
        margin-right: 9px;
    }

    .dialog-content .work-status .work-status-selected {
        width: 156px;
        height: 22px;
        border: 1px solid #c6c2c2;
        font-size: 14px;
    }

/*Salary css*/

.dialog-content .salary {
    margin: 5px;
    display: flex;
    float: left;
}

    .dialog-content .salary .salary-text {
        margin-right: 75px;
    }

    .dialog-content .salary .salary-input {
        width: 150px;
        height: 20px;
        border: 1px solid #c6c2c2;
        font-size: 14px;
    }

.dialog-content .toolbar-dialog {
    padding-top: 30px;
}





/* Dialog Employee form css*/
.dialog-employee-form {
    /*    display: none;
*/ position: absolute;
    width: 780px;
    height: 540px;
    background-color: #0973b9;
    /*margin-left: 380px;
    margin-top: 160px;*/
    top: calc(50% - 230px);
    left: calc(50% - 330px);
    right: 0;
    bottom: 0;
}

    .dialog-employee-form .dialog-employee-title {
        height: 25px;
        padding: 5px;
        display: flex;
    }

        /* Dialog employee title css*/

        .dialog-employee-form .dialog-employee-title .dialog-employee-title-text {
            color: #ffffff;
        }

        .dialog-employee-form .dialog-employee-title .dialog-employee-title-icon {
            margin-left: 645px;
        }

            .dialog-employee-form .dialog-employee-title .dialog-employee-title-icon:hover {
                cursor: pointer;
            }
    /*dialog employee content css*/
    .dialog-employee-form .dialog-employee-content {
        position: absolute;
        background-color: #fff;
        top: 30px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        padding-right: 0px;
    }

        .dialog-employee-form .dialog-employee-content .dialog-employee-content-main {
            position: absolute;
            background-color: #fff;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            padding-right: 0px;
        }

        /* Thiết nội dung form dialog top*/
.dialog-employee-content-main .dialog-employee-content-main-top {
    background-color: #fff;
    width: 100%;
    height: 220px;

}

    .dialog-employee-content-main .dialog-employee-content-main-top .info-general {
        color: #000;
        font-size: 15px;
        border-bottom: 1px solid #c6c2c2;
        width: 100%;
        margin: 0;
        padding-bottom: 5px;
        font-weight: 900;
    }
    .dialog-employee-content-main .dialog-employee-content-main-top .dialog-employee-content-main-top-left {
        background-color: #fff;
        height: calc(100% - 30px);
        width: 75%;
        float: left;
        margin-top: 15px;
    }
    /* Employee id css*/
.dialog-employee-content-main-top-left .employee-id {
    height: 21px;
    width: 100%;
    margin-bottom: 5px;
}
    .dialog-employee-content-main-top-left .employee-id .employee-id-text{
        float: left;
        margin: 0;
        margin-right: 15px;
    }

    .dialog-employee-content-main-top-left .employee-id .employee-id-input {
        float: left;
        width: 420px;
        border: 1px solid #c6c2c2;
    }

/* Employee name css*/
.dialog-employee-content-main-top-left .employee-name {
    height: 21px;
    width: 100%;
    margin-bottom: 5px;
}

    .dialog-employee-content-main-top-left .employee-name .employee-name-text {
        float: left;
        margin: 0;
        margin-right: 10px;
    }

    .dialog-employee-content-main-top-left .employee-name .employee-name-input {
        float: left;
        width: 420px;
        border: 1px solid #c6c2c2;
    }

        

/* DateOfBirth css*/
.dialog-employee-content-main-top-left .dateofbirth {
    height: 21px;
    width: 50%;
    margin-bottom: 5px;
    float: left;
}

    .dialog-employee-content-main-top-left .dateofbirth .dateofbirth-text {
        float: left;
        margin: 0;
        margin-right: 63px;
    }

    .dialog-employee-content-main-top-left .dateofbirth .dateofbirth-input {
        float: left;
        border: 1px solid #c6c2c2;
    }

/* Gender css*/
.dialog-employee-content-main-top-left .gender {
    height: 21px;
    width: 50%;
    margin-bottom: 5px;
    float: left;
}

    .dialog-employee-content-main-top-left .gender .gender-text {
        float: left;
        margin: 0;
        margin-right: 10px;
    }

    .dialog-employee-content-main-top-left .gender .gender-selected {
        float: left;
        border: 1px solid #c6c2c2;
        width: 208px;
        height: 21px;
    }

/* Email css*/
.dialog-employee-content-main-top-left .email {
    height: 21px;
    width: 100%;
    margin-bottom: 5px;
}

    .dialog-employee-content-main-top-left .email .email-text {
        float: left;
        margin: 0;
        margin-right: 68px;
    }

    .dialog-employee-content-main-top-left .email .email-input {
        float: left;
        width: 420px;
        border: 1px solid #c6c2c2;
    }

/* Phone css*/
.dialog-employee-content-main-top-left .phone {
    height: 21px;
    width: 100%;
    margin-bottom: 5px;
}

    .dialog-employee-content-main-top-left .phone .phone-text {
        float: left;
        margin: 0;
        margin-right: 30px;
    }

    .dialog-employee-content-main-top-left .phone .phone-input {
        float: left;
        width: 420px;
        border: 1px solid #c6c2c2;
    }

/* IndentityNumber css*/
.dialog-employee-content-main-top-left .identity-number {
    height: 21px;
    width: 50%;
    margin-bottom: 5px;
    float: left;
}

    .dialog-employee-content-main-top-left .identity-number .identity-number-text {
        float: left;
        margin: 0;
        margin-right: 53px;
    }

    .dialog-employee-content-main-top-left .identity-number .identity-number-input {
        float: left;
        border: 1px solid #c6c2c2;
        width: 140px;
    }
/* identity-date css*/
.dialog-employee-content-main-top-left .identity-date {
    height: 21px;
    width: 50%;
    margin-bottom: 5px;
    float: left;
}

    .dialog-employee-content-main-top-left .identity-date .identity-date-text {
        float: left;
        margin: 0;
        margin-right: 5px;
    }

    .dialog-employee-content-main-top-left .identity-date .identity-date-input {
        float: left;
        border: 1px solid #c6c2c2;
        width: 204px;
    }




.dialog-employee-content-main .dialog-employee-content-main-top .dialog-employee-content-main-top-right {
    height: calc(100% - 30px);
    width: 25%;
    float: left;
    margin-top: 15px;
}

.dialog-employee-content-main-top-right .image-employee {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../../content/images/avatardefault.png');
    width: 100px;
    height: 160px;
    margin-right: 7px;
}

.dialog-employee-content-main .dialog-employee-content-main-bottom {
    width: 100%;
    height: 220px;
    padding-top: 10px;
}

/* identity-place css*/
.dialog-employee-content-main-bottom .identity-place {
    height: 21px;
    width: 100%;
    margin-bottom: 5px;
}

    .dialog-employee-content-main-bottom .identity-place .identity-place-text {
        float: left;
        margin: 0;
        margin-right: 32px;
    }

    .dialog-employee-content-main-bottom .identity-place .identity-place-input {
        float: left;
        border: 1px solid #c6c2c2;
        width: 616px;
    }
    /*info-work css*/
.dialog-employee-content-main .dialog-employee-content-main-bottom .info-work {
    color: #000;
    font-size: 15px;
    border-bottom: 1px solid #c6c2c2;
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 900;
}

/* Position name css*/
.dialog-employee-content-main-bottom .position {
    height: 23px;
    width: 100%;
    margin-bottom: 5px;
}

    .dialog-employee-content-main-bottom .position .position-text {
        float: left;
        margin: 0;
        margin-right: 97px;
    }

    .dialog-employee-content-main-bottom .position .position-selected {
        float: left;
        border: 1px solid #c6c2c2;
        width: 620px;
        height: 22px;
    }

/* Department name css*/
.dialog-employee-content-main-bottom .department {
    height: 23px;
    width: 100%;
    margin-bottom: 5px;
}

    .dialog-employee-content-main-bottom .department .department-text {
        float: left;
        margin: 0;
        margin-right: 57px;
    }

    .dialog-employee-content-main-bottom .department .department-selected {
        float: left;
        border: 1px solid #c6c2c2;
        width: 620px;
        height: 22px;
    }


/* TaxCode css*/
.dialog-employee-content-main-bottom .tax-code {
    height: 21px;
    width: 40%;
    margin-bottom: 5px;
    float: left;
}

    .dialog-employee-content-main-bottom .tax-code .tax-code-text {
        float: left;
        margin: 0;
        margin-right: 34px;
    }

    .dialog-employee-content-main-bottom .tax-code .tax-code-input {
        float: left;
        border: 1px solid #c6c2c2;
        width: 160px;
    }

/* Salary css*/
.dialog-employee-content-main-bottom .salary {
    height: 21px;
    width: 60%;
    margin-bottom: 5px;
    float: left;
}

    .dialog-employee-content-main-bottom .salary .salary-text {
        float: left;
        margin: 0;
        margin-right: 10px;
    }

    .dialog-employee-content-main-bottom .salary .salary-input {
        float: left;
        border: 1px solid #c6c2c2;
        width: 362px;
        
    }

/* DateJoin css*/
.dialog-employee-content-main-bottom .date-join {
    height: 21px;
    width: 40%;
    margin-bottom: 5px;
    float: left;
}

    .dialog-employee-content-main-bottom .date-join .date-join-text {
        float: left;
        margin: 0;
        margin-right: 32px;
    }

    .dialog-employee-content-main-bottom .date-join .date-join-input {
        float: left;
        border: 1px solid #c6c2c2;
        width: 162px;
    }

/* WorkStatus css*/
.dialog-employee-content-main-bottom .work-status {
    height: 21px;
    width: 60%;
    margin-bottom: 5px;
    float: left;
}

    .dialog-employee-content-main-bottom .work-status .work-status-text {
        float: left;
        margin: 0;
        margin-right: 11px;
    }

.dialog-employee-content-main-bottom .work-status .work-status-selected {
    float: left;
    border: 1px solid #c6c2c2;
    width: 368px;
}
/*toolbar employee dialog*/
.dialog-employee-content .toolbar-employee-dialog {
    border: none;
    height: 25px;
    width: 100%;
    display: flex;
}

.toolbar-employee-dialog button {
    height: 100%;
    display: flex;
    border: 1px solid #808080;
    padding: 3px;
    margin-right: 10px;
}

.toolbar-employee-dialog .btn-help {
    margin-right: 308px;
    margin-left: 5px;
}

.toolbar-employee-dialog button:hover {
    background-color: #fff;
    border: 1px solid #2b9adb;
    cursor: pointer;
}

.toolbar-employee-dialog .icon-dialog {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../../content/images/IconSprite.png');
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

    .toolbar-employee-dialog .icon-dialog.icon-help-dialog {
        background-position: 0 -1600px;
    }

    .toolbar-employee-dialog .icon-dialog.icon-store-dialog {
        background-image: url('../../content/images/Save16.png');
    }

    .toolbar-employee-dialog .icon-dialog.icon-storeadd-dialog {
        background-image: url('../../content/images/SaveAdd16.png');
    }

    .toolbar-employee-dialog .icon-dialog.icon-cancle-dialog {
        background-image: url('../../content/images/Disable16.png');
    }